body {
  background: #d8d8d8;
  font-family: 'Cardo', serif;
  font-size: 1.2rem;
  margin: 0;
  line-height: 1.2;
}

p, span {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  margin: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.quote {
  max-width: 300px;
  margin: 20px;
  text-align: justify;
  text-justify: kashida;
}

.word {
  font-weight: bold;
}

.part-of-speech {
  font-style: italic;
}

.definition {
  text-indent: 1rem;
}

.attribution {
  text-align: right;
}
